<% unless review.new_record? %>
  <div class="col-lg-8 pull-right">
    <div class="well well-sm pull-right">
      <h5>Posted <%= time_ago_in_words(review.created_at) %> ago</h5>
      <p><%= review.body %></p>
    </div>
  </div>
<% end %>
