<% unless review.new_record? %>
<li>
  <div class="review">
    <span class="review-datetime">
      Posted <%= time_ago_in_words(review.created_at) %> ago
    </span>
    <div class="review-body">
      <%= review.body %>
    </div>
  </div>
</li>
<% end %>
