<div id="titles">
    <% if current_user %>
  <div class="container">
    <div class="row">
      <div class="user_main">
        <div class="col-xs-12 col-lg-6 pull-left">
            <h1>View Watchlist</h1>
            <%= link_to "Watch List", user_path(current_user), :class => "btn btn-primary btn-lg btn-inverse" %>
        </div>
        <div class="col-xs-12 col-lg-6 pull-right">
          <h1>Search for titles</h1>
        <%= link_to "Search Titles", "/titles/search", :class => 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </div>
  </div>
    <% else %>
   <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Movie and TV References <br>are Social Currency</h1>
              <p><a class="btn btn-inverse" href="#myCarousel" data-slide="next">true?</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Right Answer. <br> But You Can't Watch Everything</h1>
              <p><a class="btn btn-inverse" href="#myCarousel" data-slide="next">I guess not...</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Use Watch.it</h1>
              <p><a class="btn btn-inverse" href="#myCarousel" data-slide="next">why?</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>You Look Up Something <br> You Haven't Seen</h1>
              <p><a class="btn btn-inverse" href="#myCarousel" data-slide="next">ok...</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Add It To Your Watchlist</h1>
              <p><a class="btn btn-inverse" href="#myCarousel" data-slide="next">then what?</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Watch It. <br> Reference It <br> Contribute to the Culture</h1>
              <p><a class="btn btn-inverse" href="#myCarousel" data-slide="next">I'm sold. Let's do this</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Logging in with <br> Social Media <br> is social suicide</h1>
            <%= link_to "Sign up", sign_up_path, :class => "btn btn-primary btn-lg btn-inverse" %>
            <%= link_to "log in", log_in_path, :class => "btn btn-primary btn-lg btn-inverse" %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->
    <% end %>
</div>
